/*<!-- <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Comfortaa|Pacifico|Quicksand|Raleway|Righteous|Varela+Round" rel="stylesheet"> -->
*/

* {
    box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0;
  background-image: url("https://mackenzie-ligon.github.io/img3.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(8px);
}

.aboutbody {
  background-image: url("https://mackenzie-ligon.github.io/img2.png");
  color:black;
  backdrop-filter: blur(2px);
}

.bodydiv {
  text-align: center;
  margin: auto;
  padding: 30px;
}

html{
  color: white;
}
header {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 0;
  color: white;
  margin: 0;
}

.navholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  height: 50px;
  margin: 0 auto;
}

.navholder .logo{
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
}

.navbar{
  display: flex;
  flex-grow: 1;
}


.navbar ul {
  display: flex;
  padding: 10;
  list-style: none;
}

.navbar ul li a,
.navbar ul li button {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 8px;
  transition: 0.4s;
  background: none;
  border: none;
  cursor: pointer;

}

.navbar ul li a:hover,
.navbar ul li button:hover {
  background: rgba(255, 255, 255, 0.25);
}

.infoblock{
  font-family: "Jost", cursive;
  text-align: center;
  background: rgba(255, 255, 255, 0.35);
  width: 40%;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 30px;
  padding: 5px;
  color: #000000;
}

.infoblock ul {
    margin: 0;
    padding: 0px 0px 25px 0px;
}

.infoblock li {
  list-style-type: none;
  padding: 3px;
}

.title{
  font-family: "Zilla Slab", cursive;
  font-size: 40px;
}
.header{
  font-family: "Zilla Slab", cursive;
  font-size: 30px;
}

.sub-header{
  font-family: "Zilla Slab", cursive;
  font-size: 20px;
}

.text{
  font-family: "Jost", cursive;
  font-size: 16px;
}

.about{
  margin-left: 30px;
  width: 30%;
  text-align: center;
}
