/*<!-- <link href="https://fonts.googleapis.com/css?family=Cabin+Sketch|Comfortaa|Pacifico|Quicksand|Raleway|Righteous|Varela+Round" rel="stylesheet"> -->
*/

* {
    box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0;
  background-image: url("./images/img3.PNG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  backdrop-filter: blur(8px);
}

.aboutbody {
  background-image: url('images/img2.PNG');
  color:black;
  backdrop-filter: blur(2px);
}

.bodydiv {
  text-align: center;
  margin: auto;
  padding: 30px;
}

html{
  color: white;
}
header {
  background: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(50px);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 0;
  color: white;
  margin: 0;
}

.navholder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 97%;
  height: 50px;
  margin: 0 auto;
}

.navholder .logo{
  font-size: 2rem;
  font-family: "Abril Fatface", cursive;
}

.navbar{
  display: flex;
  flex-grow: 1;
}


.navbar ul {
  display: flex;
  padding: 10;
  list-style: none;
}

.navbar ul li a,
.navbar ul li button {
  text-decoration: none;
  color: inherit;
  display: block;
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 8px;
  transition: 0.4s;
  background: none;
  border: none;
  cursor: pointer;

}

.navbar ul li a:hover,
.navbar ul li button:hover {
  background: rgba(255, 255, 255, 0.25);
}

.infoblock{
  font-family: "Jost", cursive;
  text-align: center;
  background: rgba(255, 255, 255, 0.6);
  width: 40%;
  border-radius: 15px;
  margin: auto;
  margin-bottom: 30px;
  padding: 5px;
  color: #000000;
}

.infoblock ul {
    margin: 0;
    padding: 0px 0px 25px 0px;
}

.infoblock li {
  list-style-type: none;
  padding: 3px;
}

.title{
  font-family: "Zilla Slab", cursive;
  font-size: 40px;
}
.header{
  font-family: "Zilla Slab", cursive;
  font-size: 30px;
}

.sub-header{
  font-family: "Zilla Slab", cursive;
  font-size: 20px;
}

.text{
  font-family: "Jost", cursive;
  font-size: 16px;
}

.about{
  margin-left: 30px;
  width: 30%;
  text-align: center;
}

.link{
  color: mediumblue;
  text-decoration: none;
}


/* card slider */

.cardwrap {
  max-width: 1100px;
  width: 100%;
  position: relative;
}

.cardwrap i {
  height: 50px;
  width: 50px;
  background: rgb(118, 233, 118);
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  font-size: 1.25 rem;
  transform: translateY(-50%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cardwrap i:first-child{
  left: -22px;
}

.cardwrap i:last-child {
  right: -22px;
}

.cardwrap .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 12 px);
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scrollbar-width: 0;
}

.carousel ::-webkit-scrollbar {
  display: none;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.no-transition {
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

/*omitted line here*/

.carousel .card {
    scroll-snap-align: start;
    height: 340px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    width: 98%;
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card {
  background: white;
  width: 300px;
  height: auto;
  border-radius: 20px;
}

@media screen and (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 9px);

    }
}

@media screen and (max-width: 600px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;

    }
}
